<%= turbo_frame_tag item do %>
  <div id="<%= dom_id item, :display %>" class="flex items-center bg-white <%= item.completed? ? 'text-slate-400' : 'text-slate-600' %> w-[550px] text-2xl h-[65px] shadow border group">
    <%= complete_button(item) %>

    <p class="font-sans font-normal <%= item.completed? ? 'line-through' : '' %> ml-4"><%= item.body %></p>

    <div class="hidden flex-row ml-auto mr-4 group-hover:flex">
      <%= button_to edit_icon, edit_item_path(item), method: :get, data: { turbo_frame: item }, class: 'text-slate-400 px-4 py-2 rounded' %>
      <%= button_to delete_icon, item, method: :delete, class: 'text-slate-400 px-4 py-2 rounded' %>
    </div>
  </div>
<% end %>
