<% content_for :title, "TodoMVC Rails - Todo Items" %>
<%= turbo_stream_from "items" %>

<div class="flex flex-col mx-auto w-[550px]">
  <h1 class="font-sans text-custom-red text-[80px] text-center font-extralight leading-[100%] mt-8 mb-8">todos</h1>

  <div class="flex flex-col">
    <%= render "form", item: Item.new %>

    <div class="absolute ml-1 mt-4 w-[40px] h-[40px]">
      <%= button_to toggle_all_icon, toggle_all_items_url, method: :patch, class: "text-slate-300" %>
    </div>

    <div class="flex flex-col">
      <%= turbo_frame_tag "items" do %>
        <%= turbo_frame_tag "completed_items" do %>
          <% Array(@items["completed"]).each do |item| %>
            <%= render item %>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <%= render partial: "footer", locals: { active_count: Item.active.count } %>
  </div>
</div>
